@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

:root {
    --primary-bg: #000000;
    --secondary-bg: #222222;
    --primary-color: #FFFFFF;
    --secondary-color: #E6533C;
    --color-p: #8b8b8b;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-color);
}

.header-container {
    background: linear-gradient(90deg, rgb(41 41 41 / 56%) 0%, rgb(25 25 25 / 85%) 50%, rgb(34 34 34 / 56%) 100%);
}

.header-wrapper {
    width: 1280px;
    margin: auto;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo h1 {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--secondary-color);
}

.menu ul {
    display: flex;
    gap: 1.75rem;
    border: 1px solid rgba(128, 128, 128, 0.418);
    border-radius: 40px;
    padding: 5px;
}

.menu ul li {
    padding: 5px 18px;
    list-style: none;
}

.menu ul li:first-child {
    background-color: #E6533C;
    border-radius: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
}

/* Hero Section */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding: 20px 20px 0px 20px;
}

.hero-content {
    padding: 10px 20px;
    color: #FFFFFF;
    flex: 1;
}

.hero-content h1 {
    font-size: 4.8rem;
    line-height: 120%;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 1.75rem;
}

.hero-content h1 span {
    font-family: 'Miama', sans-serif;
    display: inline-block;
    font-size: 10rem;
    font-weight: normal;
    color: #e1dace;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-p);
    margin-bottom: 1.75rem;
}

.primary-btn {
    background-color: var(--secondary-color);
    border: none;
    padding: 16px 45px;
    border-radius: 2.6rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.primary-btn a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

.secondary-btn {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 16px 45px;
    border-radius: 2.6rem;
    cursor: pointer;
}

.secondary-btn a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #fff;
    position: relative;
}

.overley-1 {
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: white;
    position: absolute;
    right: 6%;
    top: 28%;
}

.overley-1 h1 {
    font-size: 2rem;
    color: var(--primary-color);
}

.overley-1 p {
    color: var(--color-p);
    font-size: 13px;
    font-weight: 600;
}

.overley-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: white;
    position: absolute;
    left: 5%;
    bottom: 10%;
}

.overley-2 .overley-2-text h1 {
    font-size: 2rem;
    color: var(--primary-color);
}

.overley-2 .overley-2-text p {
    color: var(--color-p);
    font-size: 13px;
    font-weight: 600;
}

.overley-2-circle {
    height: 35px;
    width: 35px;
    background-color: #E6533C;
    border-radius: 50%;
}

/* Habits Section */
.habits-content {
    text-align: center;
    margin-top: 6rem;
}

.habits-content h1 {
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
}

.habits-content p {
    font-size: 14px;
    color: var(--color-p);
    margin-top: 1rem;
}

.habits-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 10px;
    margin-top: 3rem;
}

.card {
    text-align: center;
    padding: 10px;
}

.card img {
    border-radius: 50%;
}

.card h3 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 1.85rem;
}

.card p {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-p);
    margin-top: 6px;
}

/* Run Extra Mile Section */
.run-extra-container {
    width: 1060px;
    margin: 0 auto;
    padding: 1rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    border-radius: 1rem;
    margin-top: 6.25rem;
}

.run-extra-content {
    flex: 1;
    padding: 1rem 2.75rem;
}

.run-extra-content h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 14px;
}

.run-extra-content p {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-p);
    margin-bottom: 2rem;
}

.run-extra-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.run-extra-img img {
    width: 90%;
    border-radius: 1rem;
}

/* Training Section */
.training-container {
    width: 1060px;
    margin: 100px auto;
}

.training-content h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 14px;
}

.training-content p {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-p);
}

.training-img {
    margin-top: 3.75rem;
    display: grid;
    grid-template-areas:
        "one two two three"
        "four four five six"
    ;
}

.t-img {
    border: 1px solid white;
    height: 200px;
    position: relative;
}

.t-img img {
    width: 100%;
    height: 100%;
}

.t-img-1 {
    grid-area: one;
    background: url("/images/exercise1.jpg") no-repeat;
    background-size: cover;
}

.t-img-1::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #06ffd169;
    left: 0;
    bottom: 0;
    position: absolute;
}

.t-img-2 {
    grid-area: two;
    background: url("/images/exercise2.png") no-repeat;
    background-size: cover;
}

.t-img-2::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ff000063;
    left: 0;
    bottom: 0;
    position: absolute;
}

.t-img-3 {
    grid-area: three;
    background: url("/images/exercise3.png") no-repeat;
    background-size: cover;
}

.t-img-3::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #cccccc91;
    left: 0;
    bottom: 0;
    position: absolute;
}

.t-img-4 {
    grid-area: four;
    background: url("/images/exercise4.png") no-repeat;
    background-size: cover;
}

.t-img-4::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #00000080;
    left: 0;
    bottom: 0;
    position: absolute;
}

.t-img-5 {
    grid-area: five;
    background: url("/images/exercise5.jpg") no-repeat;
    background-size: cover;
}

.t-img-5::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #44ff005e;
    left: 0;
    bottom: 0;
    position: absolute;
}

.t-img-6 {
    grid-area: six;
    background: url("/images/exercise6.jpg") no-repeat;
    background-size: cover;
}

.t-img-6::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0048ff6b;
    left: 0;
    bottom: 0;
    position: absolute;
}

/* BMI Calculator Section */
.bmi-calculator-container {
    margin-bottom: 60px;
}

.bmi-heading {
    width: 50%;
    margin: 50px auto;
    padding: 1rem;
}

.bmi-heading h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 14px;
}

.bmi-heading p {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-p);
}

.bmi-calculator-bg {
    background-color: rgba(128, 128, 128, 0.226);
}

.calculator-wrapper {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    width: 1060px;
    margin: 0 auto;
    padding: 1.75rem;
}

.calculator-chart {
    padding: 12px;
}

.calculator-chart h2 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.calculator-chart table {
    border-collapse: collapse;
}

.calculator-chart th,
td {
    border: 1px solid gray;
    padding: 8px 35px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-p);
    text-align: left;
}

.calculator-chart th {
    color: var(--primary-color);
}

.calculator-bmi {
    padding: 12px;
}

.bmi-text {
    padding-left: 12px;
}

.bmi-text h2 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.bmi-text p {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-p);
    margin-bottom: 2rem;
}

.bmi-forms form input {
    all: unset;
    padding: 10px 15px;
    background-color: #383838;
    border-radius: 6px;
    font-size: 12px;
    width: 45%;
}

.first-row,
.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin: 12px;
}

.height {
    width: 50%;
}

.weight {
    width: 50%;
}

.age {
    width: 50%;
}

.gender {
    border: none;
    padding: 10px 15px;
    background-color: #383838;
    border-radius: 6px;
    font-size: 12px;
    display: inline-block;
    width: 50%;
    color: var(--color-p);
}

.activity {
    border: none;
    padding: 10px 15px;
    background-color: #383838;
    border-radius: 6px;
    font-size: 12px;
    display: inline-block;
    width: calc(100% - 24px);
    margin-left: 12px;
    color: var(--color-p);
    margin-bottom: 2rem;
}

.calculator-btn {
    background-color: var(--secondary-color);
    border: none;
    padding: 12px 40px;
    border-radius: 2.6rem;
    margin-left: 1rem;
    cursor: pointer;
}

.calculator-btn a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

/* Our Team Section */
.team-header {
    text-align: center;
    margin-top: 5.5rem;
    margin-bottom: 3.6rem;
}

.team-header h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 14px;
}

.team-header p {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-p);
}

.team-content {
    width: 1060px;
    margin: 50px auto;
    background-color: rgba(128, 128, 128, 0.226);
    padding: 1.25rem;
    border-radius: 1rem;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    height: 272px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    position: relative;
}

.box-1 {
    background-image: url("images/trainer1.png");
}

.box-2 {
    background-image: url("images/trainer2.png");
}

.box-3 {
    background-image: url("images/trainer3.png");
}

.box-4 {
    background-image: url("images/trainer4.png");
}

.box-5 {
    background-image: url("images/trainer5.png");
}

.box-5 {
    background-image: url("images/trainer5.png");
}

.box-6 {
    background-image: url("images/trainer6.png");
}

.info {
    position: absolute;
    left: 16px;
    bottom: 36px;
}

.team h4 {
    font-size: 1.25rem;
}

.team p {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-p);
}