@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

:root {
    --primary-bg: #000000;
    --secondary-bg: #222222;
    --primary-color: #FFFFFF;
    --secondary-color: #E6533C;
}

body {
    background-color: var(--primary-bg);
}

.main-container {
    background: linear-gradient(90deg, rgb(41 41 41 / 56%) 0%, rgb(25 25 25 / 85%) 50%, rgb(34 34 34 / 56%) 100%);
}

header {
    width: 1280px;
    margin: auto;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo h1 {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--secondary-color);
}

.menu ul {
    display: flex;
    gap: 1.75rem;
    border: 1px solid rgba(128, 128, 128, 0.418);
    border-radius: 40px;
    padding: 5px;
}

.menu ul li {
    padding: 5px 18px;
    list-style: none;
}

.menu ul li:first-child {
    background-color: #E6533C;
    border-radius: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
}

/* Hero Section */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding: 20px 20px 0px 20px;
}

.hero-content {
    padding: 10px 20px;
    color: #FFFFFF;
    flex: 1;
}

.hero-content h1 {
    font-size: 4.8rem;
    line-height: 120%;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 1.75rem;
}

.hero-content h1 span {
    font-family: 'Miama', sans-serif;
    display: inline-block;
    font-size: 10rem;
    font-weight: normal;
    color: #e1dace;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #8a8a8a;
    margin-bottom: 1.75rem;
}

.hero-content .primary-btn {
    background-color: var(--secondary-color);
    border: none;
    padding: 16px 45px;
    border-radius: 2.6rem;
    margin-right: 1.5rem;
}

.hero-content .primary-btn a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

.hero-content .secondary-btn {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 16px 45px;
    border-radius: 2.6rem;
}

.hero-content .secondary-btn a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #fff;
    position: relative;
}

.overley-1 {
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: white;
    position: absolute;
    right: 6%;
    top: 28%;
}

.overley-1 h1 {
    font-size: 2rem;
    color: var(--primary-color);
}

.overley-1 p {
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 600;
}

.overley-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: white;
    position: absolute;
    left: 5%;
    bottom: 10%;
}

.overley-2 .overley-2-text h1 {
    font-size: 2rem;
    color: var(--primary-color);
}

.overley-2 .overley-2-text p {
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 600;
}

.overley-2-circle {
    height: 35px;
    width: 35px;
    background-color: #E6533C;
    border-radius: 50%;
}