@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
/* font-family: 'Miama', sans-serif; */

:root{
    --primary-bg: #000000;
    --secondary-bg: #222222;
    --primary-color: #FFFFFF;
    --secondary-color: #E6533C;
}
body{
    background-color: var(--primary-bg);
}
.main-container{
    width: 1140px;
    margin: auto;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo h1{
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--secondary-color);
}
.menu ul{
    display: flex;
    gap: 1.75rem;
    border: 1px solid rgba(128, 128, 128, 0.418);
    border-radius: 40px;
    padding: 5px;
}
.menu ul li{
    padding: 5px 18px;
    list-style: none;
}
.menu ul li:first-child{
    background-color: #E6533C;
    border-radius: 40px;
}
.menu ul li a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
}
